<h4>
  Una represa tiene capacidad para soportar un nivel máximo de 45 m de agua antes de entrar en alerta rojo. Para evitar esto, la misma cuenta con cuatro compuertas de evacuación, las que se abren según el nivel del agua. La compuerta 1 (uno), se pone en funcionamiento llegando el nivel a los 15 (quince) m; la 2 (dos), llegando a los 25 (veinticinco) m; la 3 (tres), a los 32 (treinta y dos) m y la 4 (cuatro), pasando los 40 (cuarenta) m
</h4>
<h2>La ley de distribución de los incrementos diarios del nivel del lago es la siguiente:</h2>
<table>
  <tr>
    <td><b>Marca de clase (x)</b></td>
    <td>-3</td>
    <td>-2</td>
    <td>-1</td>
    <td>0</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>F(x)</td>
    <td>0.0372</td>
    <td>0.2507</td>
    <td>0.4367</td>
    <td>0.5642</td>
    <td>0.7493</td>
    <td>0.9628 </td>
    <td>1</td>
  </tr>
</table>

